@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.app {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flat-list {
    list-style: none;
}

ul {
    padding-inline-start: 0px;
}

li {
    display: inline-block;
    margin: 0 1rem;
}

input {
    padding: 1rem;
    width: 100%;
}
